body {
	font-family: 'Open Sans';font-size: 13px; 
}
img {
	max-width:100%;
}
.ucp-container-full {
	background-color: #06586a;
}
.ucp-block {
	padding-top: 20px;
}
.header-block {
	padding-top:0px;
}
.header-block-data {
	padding-bottom:60px;
}
.header-title {
	font-size:18px;
	font-weight:700;	
	color: #dcdcdc;
	line-height: 1.3;
}
.header-title span {
	font-size: 46px;
	font-weight: 900;
	color: #79e9ff;
	line-height: 1;
}
.header-title span::before {
  content: "\A";
  white-space: pre;
}
.header-title span::after{
  content: "\A";
  white-space: pre;
}

.header-description {
	margin-top:26px;
	color: #bab9b9;
	font-size: 13px;
	font-weight: 400;
	
}

.ucp-align-center {
	clear: both;
	float: none;
	margin: 0 auto;
	padding-top:20%;
}
.ucp-left-image {
	margin-bottom:10px;
}

/* COUNTDOWN */
#defaultCountdown {
	display:none;
}
.countdown-timer {
	padding-bottom:60px;
}
.timer-unit {
	margin-right: 30px;
	float:left;
}
.timer-unit .text-timer {
	border-top:1px solid #06586a;
}
.timer-unit:first-child .text-timer {
	border-top:1px solid #ffffff;
}
.timer-unit .text-timer {
	font-size: 40px;
	font-weight: 700;
	color : #ffffff;
}
.timer-unit .text  {
	font-size: 18px;
	font-weight: 300;
	color : #ffffff;
}

/* Subscribe */
.subscribe-block {
	padding-bottom:10px;
}
.subscribe-block .subscribe-title {
	padding-bottom: 10px;
	color: #9f9f9f;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
}
.form-subscribe {
	position:relative;
	width:100%;
}
.form-subscribe input {
	background-color: #252525;
	border-color: #252525;
	font-size: 13px;
	color: #979696;
	height:45px;
	padding:11px;
	width: 100%;
	font-size: 13px;
	font-weight: 500;
	border: 0;
	 
	 box-shadow: none;
	 border-radius: 0px;
}
.form-subscribe button i.fa {
	font-size:20px;
	color:#757575;
}
.form-subscribe button {
	background-color:#252525;
	color:#999999;
	font-size:13px;
	position:absolute;
	right:4px;
	top:4px;
	text-align:center;
	padding:8px 15px;
	border:0px solid #252525;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.form-subscribe button:hover {
		background-color: #252525;
		color: #ffffff;
	}
.form-subscribe button:hover i.fa {
		color: #ffffff;
	}


/**
* 5. Social
*
* Description of section, whether or not it has media queries, etc.
*/
.div-social {
	padding-bottom:30px;
}
.div-social ul {
	list-style : none;
	margin:0;
	padding:0;
	float:left;
}
.div-social ul li {
	float: left;
	margin-right: 10px;
	margin-bottom: 8px;
	
	
}

.div-social ul li  i{
	font-size: 20px;
}
.div-social ul li  i{
	font-size:16px;
	text-align: center;
	
}
.div-social ul li  i:hover {
	
}
.div-social ul li  a {
	color: #ffffff;
}
.div-social ul li  a:hover {
	color: #79e9ff;
}
.div-social ul li:last-child {
	margin-right: 0px;
	
}

@media (max-width: 768px) {
	.header-block {
		padding-top: 0px;
	}
	.header-title span {
		font-size: 30px;
	}
	
}