/**
* 1. Layout
*
* Description of section, whether or not it has media queries, etc.
*/
body {
	background-color: #888888;
}
.full-100 {
    width: 100%;
}
.full-box {
	margin: 0 auto;
    max-width: 100%;
}
.justify-div {
	margin-left:20px;
	margin-right:20px;
}

/**
* 2. Header
*
* Description of section, whether or not it has media queries, etc.
*/
.section-header .header-block{
	background-color: #303030;
	margin-top: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.section-header h1 {
	color: #f0f0f0; 	
}
.section-header h1 span {
	color: #2980b9;
}
.section-header h1 span::before {
  content: "\A";
  white-space: pre;
}
.section-header h1 span::after{
  content: "\A";
  white-space: pre;
}
.section-header .header-description {
	color: #c0c0c0;
	font-size: 18px;
}

.section-countdown .countdown-block {
	background-color: #707070;
	width: 100%;
	padding-top: 20px;
}
.progress-block  {
	background-color: #202020;
	width: 100%;
	padding: 20px 0;
}
.progress-div {
	margin-left: 20px;
	margin-right: 20px;
}
.progress-bar {
	background-color: #707070;
	border: 1px solid #aaaaaa;
	margin: 0 auto;
	max-width: 900px;
	width:100%;
}
.progress-bar-percent {
	background-color: #2980b9;
	height: 40px;
	width: 30%;
}


/**
* 3. Countdown
*
* Description of section, whether or not it has media queries, etc.
*/

#defaultCountdown2 {
	display:none;
}
#defaultCountdown  {
	margin: 0 auto;
	margin-top: 20px;
	max-width: 920px;
}
#defaultCountdown .timer_unit {
	background-color: #d0d0d0;
	border-radius: 50%;
	box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;	
	float: left;
	height: 200px;	
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	text-align: center;
	width: 200px;
}
#defaultCountdown .timer_unit .circle {
	
}
#defaultCountdown .timer_unit .text_timer {
	color: #303030;
	font-size: 60px;
	margin: auto;
	margin-top:20px;
}
#defaultCountdown .timer_unit .text {
	color: #767676;
	font-size:36px;
}



/**
* 4. Subscribe
*
* Description of section, whether or not it has media queries, etc.
*/
.section-subscribe .subscribe-block {
	background-color: #303030;
	min-height: 80px;	
	
}
.subscribe-container {
	background-color: #ffff00;
	min-height: 125px;	
	overflow: hidden;
}
.subscribe-heading {
	color: #f0f0f0; 	
}
.subscribe-description {
	color: #c0c0c0;
}

.subscribe-div {
	margin: 20px;
}
.form-subscribe {
	position:relative;
	
}
.form-subscribe input {
	background-color:#505050;
	border-color:#505050;
	color:#b7b7b7;
	height:45px;
	padding:11px;
	width:100%;
}
.form-subscribe button {
	background-color:#ffffff;
	color:#999999;
	font-size:13px;
	position:absolute;
	right:4px;
	top:4px;
	text-align:center;
	padding:8px 15px;
	border:0px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.form-subscribe button:hover {
		background-color: #2980b9;
		color: #ffffff;
	}
.form-subscribe label.error {
		color: #202020;
		font-weight:lighter;
		margin-top: 5px;
	}
#form-subscribe label {
	color: #ff0000;
	font-weight:lighter;
	margin-top: 5px;
}

/**
* 5. social
*
* Description of section, whether or not it has media queries, etc.
*/
.section-social .social-block {
	background-color:#2980b9;
	
}
.div-social {
	margin-right:30px;
}
.div-social ul {
	list-style:none;
}
.div-social ul li {
	float:left;
	margin-bottom:8px;
	margin-right:20px;	
}
.div-social ul li:last-child {
	margin-right:0px;
}
.div-social ul li  i{
	font-size:20px;
	
}
.div-social ul li  a{
	color:#ffffff;
}
.div-social ul li  a:hover{
	color:#000000;
}

.section-bottom {
	min-height:30px;
}
